In [1]:
import pandas as pd

## Parameters

In [2]:
from argparse import Namespace

params = Namespace(
    filename = 'surnames/surnames.csv'
)

## Load data

In [3]:
data = pd.read_csv(params.filename)

## Explory Data Analisys

In [4]:
data.head()

    surname nationality
0  Woodford     English
1      Coté      French
2      Kore     English
3     Koury      Arabic
4    Lebzak     Russian

In [5]:
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'